
h1 {
  color: #50723C;
}

#contactinfo {
  float: right;
}
#mephotos {
  display: inline-block;
}
head {
  display: block;
}

#ideal {
  float: right;
  max-height: 500px;
}

body {
  background-color:#86BBD8;
  border: 4em;
  margin: 4em;
  padding: 0;
  vertical-align: baseline;
}
